<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Make site responsive on mobile/tablet -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Campsites</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Campsite</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--<ul class="nav navbar-nav">
    <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="/campsites">Home</a></li>
  </ul>-->
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <% if (!loggedInUser){ %>
        <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
          <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
          <a class="nav-link" href="/register">Sign up</a>
        </li>
      <%  }else{ %>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Signed In as <%= loggedInUser.username %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      <%  } %>
    </ul>
  </div>
</nav>

<div class="container">
  <% if(success && success.length > 0) {%>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  <%}%>
  <% if(error && error.length > 0) {%>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <%}%>
</div>
